[Desktop Entry]
Encoding=UTF-8
Name=Aluisyo Wallet
Comment=Aluisyo Wallet
Exec=AluisyoGUI
Terminal=false
Type=Application
Icon=aluisyo
MimeType=x-scheme-handler/aluisyowallet;
Categories=Office;Finance;Cryptocurrency
